/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
/* IMPORTS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #555;
  background: linear-gradient(to top left, #c6ffdd, #fbd786, #f7797d);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; }

.error {
  color: #f7797d; }

input {
  border: none;
  border-bottom: 1px solid #59b89c;
  width: 100%; }

main {
  position: relative;
  width: 150rem;
  height: 60rem;
  border-radius: 7px;
  overflow: hidden;
  display: flex;
  justify-content: space-between; }
  main .player {
    width: 60rem;
    padding: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.75s;
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 7px;
    justify-content: space-between; }
    main .player .name {
      font-size: 4rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      word-spacing: 2px;
      font-weight: 300;
      display: block; }
    main .player .score {
      font-size: 8rem;
      font-weight: 300;
      color: #59b89c; }
    main .player .current_score {
      background-color: #59b89c;
      opacity: 0.8;
      border-radius: 7px;
      color: white;
      width: 50%;
      padding: 2rem;
      text-align: center;
      transition: all 0.75s; }
      main .player .current_score .current-label {
        text-transform: uppercase;
        margin-bottom: 1rem;
        font-size: 1.7rem;
        color: white; }
      main .player .current_score .current-score {
        font-size: 3.5rem; }
  main .player--active {
    background-color: rgba(255, 255, 255, 0.5); }
    main .player--active .name {
      font-weight: 700; }
    main .player--active .score {
      font-weight: 400; }
    main .player--active .current {
      opacity: 1; }
  main .player--winner {
    background-color: rgba(255, 255, 255, 0.5); }
    main .player--winner .name {
      font-weight: 700;
      color: #c7365f; }

/*.btn {
  position: absolute;
  color: $gray;
  border: none;
  font-size: 1.7rem;
  cursor: pointer;
  transition: all 0.2s;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  font-weight : 400;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);

  &:active {
    transform: translate(-50%, 0.4rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  }
  &:focus {
    outline: none;
  }
}

.btn--rules {
  top: 5%;
}

.btn--new {
  top: 15%;
}

.btn--roll {
  top: 75%;
}

.btn--hold {
  top: 85%;
}

.btn--startGames {
  display: block;
  padding: 0.7rem 2.5rem;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(179, 206, 255, 0.6);
  border-radius: 50rem;
  border: none;
  font-size: 1.7rem;
  color: $gray;

  &:active {
    transform: translateY(0.4rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  }
  &:focus {
    outline: none;
  }
}*/
.btn {
  position: absolute;
  color: #555;
  border: none;
  font-size: 1.7rem;
  cursor: pointer;
  transition: all 0.2s;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  font-weight: 400;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1); }
  .btn:active {
    transform: translate(-50%, 0.4rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }
  .btn:focus {
    outline: none; }

.btn--rules {
  top: 5%;
  left: 15%; }

.btn--new {
  top: 5%;
  right: 15%; }

.btn--roll {
  top: 33%;
  width: 15rem;
  height: 8rem;
  transform: translateY(-33%); }

.btn--hold {
  top: 66%;
  width: 15rem;
  height: 8rem;
  transform: translateY(-66%); }

.dice {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 10rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  border-radius: 5px; }

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  top: -100%;
  opacity: 0;
  transition: top 0.6s, opacity 0.6s; }
  .modal .modal-content {
    background-color: #fefefe;
    font-size: 1.6rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    border-radius: 0.5rem;
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 4px 0 rgba(136, 136, 136, 0.44); }
    .modal .modal-content .modal-header {
      text-align: center;
      background-color: #f7797d;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      position: relative;
      padding: 3rem 0; }
      .modal .modal-content .modal-header .modal-title {
        font-size: 2rem;
        text-transform: uppercase;
        color: #FFFFFF; }
      .modal .modal-content .modal-header .close {
        color: white;
        font-size: 3rem;
        position: absolute;
        top: 50%;
        right: 3rem;
        transform: translateY(-50%);
        cursor: pointer; }
    .modal .modal-content .modal-body {
      padding: 3rem 3rem; }

.modal.show {
  top: 0;
  opacity: 1; }

@media screen and (max-width: 800px) {
  main {
    position: relative;
    width: 100%;
    height: 100vh;
    border-radius: 7px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    main .player {
      width: 100%;
      padding: 9rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: all 0.75s;
      background-color: rgba(255, 255, 255, 0.35);
      border-radius: 7px;
      justify-content: space-between; }

  .btn--rules {
    top: 2%;
    left: 15%; }

  .btn--new {
    top: 2%;
    right: 15%; }

  .btn--roll {
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    height: 8rem;
    width: 15rem; }

  .btn--hold {
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    height: 8rem;
    width: 15rem; } }
@media screen and (max-width: 500px) {
  main {
    position: relative;
    width: 80rem;
    height: 100vh;
    border-radius: 7px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    main .player {
      width: 100%;
      display: flex;
      flex-direction: column;
      transition: all 0.75s;
      background-color: rgba(255, 255, 255, 0.35);
      border-radius: 7px; }
      main .player .name {
        font-size: 3.5rem; }
      main .player .score {
        font-size: 10rem; }
      main .player .current_score {
        width: 30rem;
        height: 10rem; }
        main .player .current_score .current-label {
          font-size: 1.3rem; }

  .btn--rules {
    top: 2%;
    left: 2%;
    font-size: 1rem;
    padding: .5rem 1.5rem; }

  .btn--new {
    top: 2%;
    right: 2%;
    font-size: 1rem;
    padding: .5rem 1.5rem; }

  .btn--roll {
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    height: 12rem;
    width: 10rem; }

  .btn--hold {
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    height: 12rem;
    width: 10rem; } }

/*# sourceMappingURL=style.css.map */
