/*.btn {
  position: absolute;
  color: $gray;
  border: none;
  font-size: 1.7rem;
  cursor: pointer;
  transition: all 0.2s;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  font-weight : 400;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);

  &:active {
    transform: translate(-50%, 0.4rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  }
  &:focus {
    outline: none;
  }
}

.btn--rules {
  top: 5%;
}

.btn--new {
  top: 15%;
}

.btn--roll {
  top: 75%;
}

.btn--hold {
  top: 85%;
}

.btn--startGames {
  display: block;
  padding: 0.7rem 2.5rem;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(179, 206, 255, 0.6);
  border-radius: 50rem;
  border: none;
  font-size: 1.7rem;
  color: $gray;

  &:active {
    transform: translateY(0.4rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  }
  &:focus {
    outline: none;
  }
}*/

.btn {
  position: absolute;
  color: $gray;
  border: none;
  font-size: 1.7rem;
  cursor: pointer;
  transition: all 0.2s;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  font-weight : 400;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);

  &:active {
    transform: translate(-50%, 0.4rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  }
  &:focus {
    outline: none;
  }
}

.btn--rules {
  top: 5%;
  left: 15%;
}

.btn--new {
  top: 5%;
  right: 15%;
}

.btn--roll {
  top: 33%;
  width: 15rem;
  height: 8rem;
  transform: translateY(-33%);
}

.btn--hold {
  top: 66%;
  width: 15rem;
  height: 8rem;
  transform: translateY(-66%);
}