main {
  position: relative;
  width: 150rem;
  height: 60rem;
  border-radius: 7px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;

  .player {
    width: 60rem;
    padding: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.75s;
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 7px;
    justify-content: space-between;

    .name {
      font-size: 4rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      word-spacing: 2px;
      font-weight: 300;
      display: block;
    }

    .score {
      font-size: 8rem;
      font-weight: 300;
      color: $green;
    }

    .current_score {
      background-color: $green;
      opacity: 0.8;
      border-radius: 7px;
      color: white;
      width: 50%;
      padding: 2rem;
      text-align: center;
      transition: all 0.75s;

      .current-label {
        text-transform: uppercase;
        margin-bottom: 1rem;
        font-size: 1.7rem;
        color: white;
      }
      .current-score {
        font-size: 3.5rem;
      }
    }

  }

  .player--active {
    background-color: rgba(255, 255, 255, .5);

    .name {
      font-weight: 700;
    }
    .score {
      font-weight: 400;
    }
    .current {
      opacity: 1;
    }
  }
  .player--winner {
    background-color: rgba(255, 255, 255, .5);
    .name {
      font-weight: 700;
      color: #c7365f;
    }
  }
}