@media screen and (max-width: 800px) {
  main {
    position: relative;
    width: 100%;
    height: 100vh;
    border-radius: 7px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .player {
      width: 100%;
      padding: 9rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: all 0.75s;
      background-color: rgba(255, 255, 255, 0.35);
      border-radius: 7px;
      justify-content: space-between;
    }
  }
  .btn--rules {
    top: 2%;
    left: 15%;
  }

  .btn--new {
    top: 2%;
    right: 15%;
  }

  .btn--roll {
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    height: 8rem;
    width: 15rem;
  }

  .btn--hold {
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    height: 8rem;
    width: 15rem;
  }

}

@media screen and (max-width: 500px) {
  main {
    position: relative;
    width: 80rem;
    height: 100vh;
    border-radius: 7px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .player {
      width: 100%;
      display: flex;
      flex-direction: column;
      transition: all 0.75s;
      background-color: rgba(255, 255, 255, 0.35);
      border-radius: 7px;

      .name {
        font-size: 3.5rem;
      }

      .score {
        font-size: 10rem;
      }

      .current_score {
        width: 30rem;
        height: 10rem;

        .current-label {

          font-size: 1.3rem;

        }
      }
    }


  }
  .btn--rules {
    top: 2%;
    left: 2%;
    font-size: 1rem;
    padding: .5rem 1.5rem;
  }

  .btn--new {
    top: 2%;
    right: 2%;
    font-size: 1rem;
    padding: .5rem 1.5rem;
  }

  .btn--roll {
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    height: 12rem;
    width: 10rem;
  }

  .btn--hold {
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    height: 12rem;
    width: 10rem;
  }
}