.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  top: -100%;
  opacity: 0;
  transition: top 0.6s, opacity 0.6s;

  .modal-content {
    background-color: #fefefe;
    font-size: 1.6rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    border-radius: 0.5rem;
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 4px 0 rgba(136, 136, 136, 0.44);

    .modal-header {
      text-align: center;
      background-color: $pink;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      position: relative;
      padding: 3rem 0;

      .modal-title {
        font-size: 2rem;
        text-transform: uppercase;
        color: #FFFFFF;
      }

      .close {
        color: white;
        font-size: 3rem;
        position: absolute;
        top: 50%;
        right: 3rem;
        transform: translateY(-50%);
        cursor: pointer;
      }
    }
    .modal-body {
      padding: 3rem 3rem;
    }
  }
}

.modal.show {
  top: 0;
  opacity: 1;
}