*
{
  margin: 0;
  padding : 0;
  box-sizing: border-box;
}

html
{
  font-size: 10px;
}

body
{
  font-family : $Lato;
  font-weight: 400;
  height: 100vh;
  color: $gray;
  background: linear-gradient(to top left, #c6ffdd, #fbd786, #f7797d);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.error {
  color: $pink;
}

input {
  border: none;
  border-bottom  : 1px solid $green;
  width: 100%;
}